
.App{
    width: 550px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F5F5DC;
}

.navbar{
    background-color: #F55A5A;
    
    height: 55px;
    

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    color: #FFFFFF;
}

.navbar > p {
    margin-left: 10px;
}

.card{
    display: flex;
    /* justify-content: center;
    align-items: center; */

    
    padding: 20px;

    border-bottom:  1px solid #F5F5F5;
}

#card-picture{
    width: 125px;
    height: 168px;

    border-radius: 5px;
}

#card-info{
    margin: 10px;
    padding: 10px;
}

#country{
    display: flex;
    align-items: center;

    margin-bottom: 5px;
}

#location{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;

    margin-left: 4px;
}

#google-maps{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10.24px;
    line-height: 12px;

    text-decoration-line: underline;

    color: #918E9B;

    margin-left: 10px;
}

#place{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;

    color: #2B283A;

    margin-bottom: 10px;
}

#date{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10.24px;
    line-height: 12px;
    
    color: #2B283A;

    margin-bottom: 5px;
}

#description{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10.24px;
    line-height: 150%;
    
    width: 326px;
    
    color: #2B283A;
}